<%= error_messages_for 'view_customize' %>
<div class="box tabular">
  <p>
    <%= form.text_field :path_pattern,
        :size => 100, :required => true %>
    <em class="info">
      <%= l(:text_path_pattern_info) %><br />
      <%= l(:text_path_pattern_match_info) %>
    </em>
  </p>
  <p>
    <%= form.select :customize_type,
	 options_for_select(@view_customize.customize_types, :selected => @view_customize.customize_type),
	 :required => true %>
  </p>
  <p>
    <%= form.text_area :code,
	 :required => true %>
  </p>
</div>
