<%= render :partial => 'view_customizes/header' %>

<div class="contextual">
  <%= link_to l(:label_view_customizes_new), 
      new_view_customize_path, :class => 'icon icon-add' %>
</div>

<h2><%=h l(:label_view_customize_plural) %></h2>

<% if (@view_customizes.blank?) %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<table class="list">

  <thead>
    <tr>
      <th>#</th>
      <th><%=h l(:field_path_pattern) %></th>
      <th><%=h l(:field_customize_type) %></th>
      <th><%=h l(:field_code) %></th>
      <th><%=h l(:field_is_enabled) %></th>
      <th><%=h l(:field_is_private) %></th>
      <!--<th><%=h l(:field_author) %></th>-->
    </tr>
  </thead>

  <tbody>
    <% @view_customizes.each do |view_customize| %>
    <tr class="<%= cycle('odd', 'even') %><%= ' disable' unless view_customize.is_enabled %><%= ' private' unless !view_customize.is_private %>">
      <td class="id"><%= link_to view_customize.id, view_customize_path(view_customize.id) %></td>
      <td class="path"><%=h view_customize.path_pattern %></td>
      <td><%=h view_customize.customize_type_name %></td>
      <td class="code"><%=h truncate(view_customize.code, :length => 80) %></td>
      <td><%=h view_customize.is_enabled ? l(:general_text_yes) : l(:general_text_no) %></td>
      <td><%=h view_customize.is_private ? l(:general_text_yes) : l(:general_text_no) %></td>
      <!--<td><%=h view_customize.author.name unless view_customize.author == nil %></td>-->
    </tr>
    <% end %>
  </tbody>

</table>

<% end %>
