<div class="contextual">
  <%= link_to l(:label_view_customizes_new), 
      new_view_customize_path, :class => 'icon icon-add' %>
</div>

<%= title l(:label_view_customize_plural) %>

<% if (@view_customizes.blank?) %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>

<table class="list view_customize">

  <thead>
    <tr>
      <%= sort_header_tag('id', :caption => '#') %>
      <%= sort_header_tag('path_pattern', :caption => l(:field_path_pattern)) %>
      <%= sort_header_tag('project_pattern', :caption => l(:field_project_pattern)) %>
      <%= sort_header_tag('insertion_position', :caption => l(:field_insertion_position)) %>
      <%= sort_header_tag('customize_type', :caption => l(:field_customize_type)) %>
      <%= sort_header_tag('comments', :caption => l(:field_comments) + ' / ' + l(:field_code)) %>
      <%= sort_header_tag('is_private', :caption => l(:field_is_private)) %>
    </tr>
  </thead>

  <tbody>
    <% @view_customizes.each do |view_customize| %>
    <tr class="<%= cycle('odd', 'even') %><%= ' disable' unless view_customize.is_enabled %><%= ' private' unless !view_customize.is_private %>">
      <td class="id"><%= link_to view_customize.id, view_customize_path(view_customize.id) %></td>
      <td class="path"><%=h view_customize.path_pattern %></td>
      <td class="project_pattern"><%=h view_customize.project_pattern%></td>
      <td class="insertion_position"><%=h l(view_customize.insertion_position_label) %></td>
      <td><%=h l(view_customize.customize_type_label) %></td>
      <td class="comments"><%=h view_customize.comments.present? ? view_customize.comments : truncate(view_customize.code, :length => 80) %></td>
      <td><%=h view_customize.is_private ? l(:general_text_yes) : l(:general_text_no) %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<p class="buttons">
  <%= link_to l(:label_disable_all),
      view_customizes_path(view_customize: {is_enabled: 0}),
      :data => {:confirm => l(:text_are_you_sure)}, :method => :put,
      :class => 'icon icon-view_customize-disable' %>
  <%= link_to l(:label_enable_all),
      view_customizes_path(view_customize: {is_enabled: 1}),
      :data => {:confirm => l(:text_are_you_sure)}, :method => :put,
      :class => 'icon icon-view_customize-enable' %>
</p>
<% end %>
