<%= stylesheet_link_tag "scm" %>

<div class="contextual">
<%= link_to(l(:button_edit),
               {:action => 'edit', :id => @view_customize.id},
               :class => 'icon icon-edit') %>
<%= link_to(l(:button_delete),
               {:action => 'destroy', :id => @view_customize.id},
               :data => {:confirm => l(:text_are_you_sure)}, :method => :delete,
               :class => 'icon icon-del') %>
</div>

<%= title [l(:label_view_customize_plural), view_customizes_path], @view_customize.id %>

<table class="box view_customize">
  <tr>
    <th><%=h l(:field_path_pattern) %></th>
    <td><%=h @view_customize.path_pattern %></td>
  </tr>
  <tr>
    <th><%=h l(:field_project_pattern) %></th>
    <td><%=h @view_customize.project_pattern %></td>
  </tr>
  <tr>
    <th><%=h l(:field_insertion_position) %></th>
    <td><%=h l(@view_customize.insertion_position_label) %></td>
  </tr>
  <tr>
    <th><%=h l(:field_customize_type) %></th>
    <td><%=h l(@view_customize.customize_type_label) %></td>
  </tr>
  <tr>
    <th><%=h l(:field_code) %></th>
    <td><div><%= highlight_by_language(
	    @view_customize.code, @view_customize.customize_type.to_sym) %></div></td>
  </tr>
  <tr>
    <th><%=h l(:field_comments) %></th>
    <td><%=h @view_customize.comments %></td>
  </tr>
  <tr>
    <th><%=h l(:field_is_enabled) %></th>
    <td><%=h @view_customize.is_enabled ? l(:general_text_yes) : l(:general_text_no) %></td>
  </tr>
  <tr>
    <th><%=h l(:field_is_private) %></th>
    <td><%=h @view_customize.is_private ? l(:general_text_yes) : l(:general_text_no) %></td>
  </tr>
  <tr>
    <th><%=h l(:field_author) %></th>
    <td><%=h @view_customize.author.name unless @view_customize.author == nil %></td>
  </tr>
</table>
